.purchase-list {
  margin: 95px 16px 0;
  ul {
    // margin: 0 16px;
  }

  .total-info {
    margin: 16px 16px;
    text-align: right;
    div {
      font-size: 20px;
      color: #bbb;
      line-height: 1.7;
      span {
        color: #333;
        font-weight: bold;
      }
    }
  }

  .btn-purchase {
    width: 100%;
    height: 50px;
    background: blue;
    opacity: .6;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
  }
}