.empty {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .img {
    width: 100px;
    height: 110px;
    margin: 0 auto 30px;
  }
  .text {
    p:first-child {
      font-size: 18px;
      color: #bbb;
    }
    p + p {
      margin-top: 15px;
      font-size: 16px;
      color: #ccc;
      line-height: 1.4;
    }
  }
  a {
    margin-top: 10px;
    display: inline-block;
    padding: 15px 50px;
    background: blue;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    opacity: .8;
  }
}